<div>

                <a href="{% url 'createtopic' %}"> Create topic</a>
                <a href="{% url 'createroom' %}"> Create Room</a>

            </div>
            <hr>

            {% for i in rooms %}
                <span>
      <a href="{% url 'userProfile' i.host.id %}">  @{{ i.host.username }}</a>
            </span>
                <div>
                    {% if request.user == i.host %}
                        <a href="{% url 'update-room' i.id %}"> edit </a>&nbsp;
                        <a href="{% url 'delete-room' i.id %}"> Delete </a>

                    {% endif %}
                    <h2>{{ i.id }} --- <a href="{% url 'room' i.id %}">  {{ i.name }}  </a></h2>
                </div>

                <span>
            <h4>{{ i.topic }}</h4>
            </span>

                <hr>
            {% endfor %}